.board-column {
  background-color: rgb(255, 127, 127);
  width: 8px;
}

.board-table {
  display: flex;
  flex-direction: column;
}

.board-columns-container {
  display: flex;
  flex-direction: row;
  height: 200px;
}

.board {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  transition: 0.3s;
}
.board:hover {
  background-color: rgba(135, 206, 235, 0.1);
}
