.board-column {
  background-color: rgb(255, 127, 127);
  width: 8px;
}

.board-table {
  display: flex;
  flex-direction: column;
}

.board {
  display: flex;
  flex-direction: row;
  height: 400px;
}
