.board-columns-container {
  display: flex;
  flex-direction: row;
  position: relative;

  width: 100%;
}

th {
  border-radius: 4px;
  transition: 0.25s;
  cursor: pointer;
  word-break: break-word;
  overflow-wrap: break-word;
  width: 20%;
  border: 1px solid green;
}

.board-columns-container {
  cursor: pointer;
  border-radius: 4px;
  transition: 0.25s;
  border: 1px solid green;
  height: 100%;
}

td.single-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay-button {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%);
  padding: 2px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.25s;
}

input {
  width: 100px;
  padding: 0px;
  margin: 0px;
}

table {
  width: 100vw;
  padding-left: 5%;
  padding-right: 5%;
}

.single-column-table {
  padding-left: 20%;
  padding-right: 20%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

th:hover,
.board-columns-container:hover {
  background-color: rgba(135, 206, 235, 0.3);
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: centers;
}

.options-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
